
.icon-anchor:before { content: '\e800'; } /* '' */
.icon-share:before { content: '\e801'; } /* '' */
.icon-text-width:before { content: '\e802'; } /* '' */
.icon-chart-line:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
